@model Client.Models.BloodModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<hr />
<h4 style="text-align:center;">Blood group detail</h4>
<hr/>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bloodId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bloodId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bloodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bloodName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.update_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.update_at)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
