@model IEnumerable<Client.Models.MobiLinkRequestModel>

@{
    ViewData["Title"] = "MobiLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center mb-3">MobiLink Notification</h4>
      
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fullname)
                                </th>
                              
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.bloodName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.expected_date)
                                </th>
                               
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mlrId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fullname)
                                </td>
                             
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phone)
                                </td>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.bloodName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.expected_date)
                                </td>
                               
                                <td>
                                    <a asp-controller="DonorAccount" asp-action="MobiLinkdetail" style="color:black;" asp-route-Id="@Html.ValueFor(modelItem => item.mlrId)">Detail</a>
                                </td>
                            </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>