@model IEnumerable<Client.Models.DonationRequestModel>

@{
    ViewData["Title"] = "MyDonation";
}

<section>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center mb-3">Donations History</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.bbName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.note)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.expected_date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.create_at)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.update_at)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bbName)
                            </td>

                            @if (item.status != 0)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                            }
                            else
                            {
                                <td style="color:#ffc107;font-weight:bold;">
                                    @Html.Raw("Unconfirmed")
                                </td>
                            }


                            <td>
                                @Html.DisplayFor(modelItem => item.note)
                            </td>
                            @if (item.status == 1)
                            {
                                <td style="color:#28a745;font-weight:bold;">
                                    @Html.Raw("Accept")
                                </td>
                            }
                            else if (item.status == 2)
                            {
                                <td style="color:#dc3545;font-weight:bold;">
                                    @Html.Raw("Deny")
                                </td>
                            }
                            else if (item.status == 0)
                            {
                            <td style="color:#ffc107;font-weight:bold;">
                                @Html.Raw("Unconfirmed")
                            </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.expected_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.create_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.update_at)
                            </td>

                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
</section>


