@model Client.Models.RequestToDonorModel

@{
    ViewData["Title"] = "RequestDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <hr />
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center mb-0"> Requests Detail @ViewBag.Error</h4>
            </div>
            <hr class="col-12" />
            <div class="col-6">
                <dl class="dl-horizontal">

                    <dt>
                        Pateint full name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.fullname)
                    </dd>
                    <dt>
                        Pateint address
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.address)
                    </dd>
                    <dt>
                        Pateint gender
                    </dt>
                    @if (Model.gender == true)
                    {
                        <dd>
                            Male
                        </dd>
                    }
                    else
                    {
                        <dd>
                            Female
                        </dd>
                    }

                    <dt>
                        Pateint birthday
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.birthday)
                    </dd>
                    <dt>
                        Pateint email
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>
                    <dt>
                        Pateint phone
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.phone)
                    </dd>
                 
                   
                </dl>
            </div>
            <div class="col-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.amount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.amount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.note)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.note)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.hospitaltreatment)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.hospitaltreatment)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.status)
                    </dt>
                    @if (Model.status == 0)
                    {
                        <dd style="color:yellow;font-weight:bold;">
                            Unconfirmed
                        </dd>
                    }
                    else if (Model.status == 1)
                    {
                        <dd style="color:green;font-weight:bold;">
                            Accept
                        </dd>
                    }
                    else
                    {
                        <dd style="color:red;font-weight:bold;">
                            Deny
                        </dd>
                    }


                    <dt>
                        @Html.DisplayNameFor(model => model.expected_date)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.expected_date)
                    </dd>
                   
                    <dt>
                        @Html.DisplayNameFor(model => model.update_at)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.update_at)
                    </dd>
                </dl>
            </div>

            </div>
       
        </div>
</section>
